@media screen and (max-width:1000px) {
    nav {
        flex-direction: column;
    }
    .logo {
        justify-content: center;
        margin: 10px 0;
    }
    nav ul {
        justify-content: center;
        height: 23px;
    }
    .search {
        justify-content: center;
        height: 10px 0;
    }
    .search input {
        margin: 20px 0;
    }
    .slider {
        height: 23px;
    }
}